
<br/><br/><br/><br/>


<p>
  Please enter a room ID:
</p>


<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Room ID" [(ngModel)]="roomId">
  <div class="input-group-append">
    <button class="btn btn-secondary" type="button" (click)="goToRoom()">Go to room</button>
  </div>
</div>



<div *ngIf="roomInvalid" class="alert alert-danger" role="alert">
  Ooops! That room doesn't seem to exist!
</div>
