
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{room.id}}</li>
  </ol>
</nav>

<br/>


<div *ngIf="!room.question">
  <p>
    There is no question for you to answer yet
  </p>

  <button class="btn btn-primary btn-block" (click)="refresh()">Refresh</button>
</div>

<div *ngIf="room.question">

  <p>
    {{room.question}}
  </p>

  <div *ngIf="!answerSaved">

    <div class="form-group">
      <textarea rows="5" class="form-control" [(ngModel)]="answer" placeholder="Your answer"></textarea>
    </div>

    <br/>

    <p class="text-right">
      <button class="btn btn-secondary" (click)="saveAnswer()">Send Answer</button>
    </p>

  </div>

  <div *ngIf="answerSaved">

    <div class="card">
      <div class="card-body">

        <p class="text-muted small">You answered</p>

        <p>
          {{answer}}
        </p>
      </div>
    </div>

    <br/>

    <p class="text-right">
      <button class="btn btn-secondary" (click)="editAnswer()">Change Answer</button>
    </p>

  </div>

</div>
